
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-bottom: 80px;
}

.trip-data{
  width: 80vw;
  min-width: 400px;
  margin-top: 30px;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 20px;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.carousel{
  align-self: center;
}

.reviews{
  min-width: 400px;
  margin-top: 10px;
  height: auto;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.carousel-wrapper{
  height: 350px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.back-image{
  height: 32px;
  width: 32px;
}

.back-image-wrap{
  padding: 11px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.back-image-wrap:hover{
  background-color: #E5BDF6;
}

.back-ref{
  width: fit-content;
  height: fit-content;
}

p{
  padding: 0;
  margin: 0;
  margin-top: 6px;
}


.counter-wrapper{
  display: flex;

}


.buttons-section{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 30px;
  justify-content: center;
  align-content: center;
}

.buttons-section-button{
  background-color: #D8DEDE;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.33) 0 3px 8px;
  height: 34px;
  margin-left: 50px;
  margin-right: 50px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  width: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;

}
.buttons-section-button:hover{
  scale: 1.2;
}

.buttons-section-button-text{
  align-self: center;
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 30px;
  color: #333833;
  user-select: none;
  width: 100%;
  text-align: center;
}

.backgrounder {
  align-self: center;
  align-content: center;
  justify-content: center;
  border-radius: 14px;
  min-width: 60px;
  width: auto;
  height: 40px;
  display: flex;
  transition: 0.4s ease-in-out;
}

.centred{
  align-self: center;
  margin-top: 20px;
}

.cartButton{
  min-width: 260px;
  min-height: 50px;
  align-self: center;
  width: 10vw;
  height: 5vh;
  background-color: #E5BDF6;
  border-radius: 40px;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease-in-out;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.cartButton:hover{
  background-color: #B8C6DB;
}


h1{
  margin-top: 50px;
}
