<div class="wrapper">
  <div class="first">
    <h1 class="big">Small<br><a target="_blank"
                            href="https://www.google.com/maps/dir//50.0793819,19.9227088/@50.0795518,19.9152135,14.5z/data=!4m2!4m1!3e0?hl=pl-PL">trip</a>
      <br>
      for You,
      <br>
      Unforgettable
      <br>
      <a routerLink="trips">
        trip for Your family
      </a>
    </h1>
  </div>


  <div class="find-us">

    <h2>Contact us!</h2>

    <div class="contact">

      <p> <b>Phone:</b> 000 000 001 </p>
      <p> <b>Mobile phone:</b> 000 000 000 </p>
      <p> <b>Address:</b> Wrocławska 53, 30-011 Kraków </p>

    </div>


    <div class="map">
      <a target="_blank"
         href="https://www.google.com/maps/dir//50.0793819,19.9227088/@50.0795518,19.9152135,14.5z/data=!4m2!4m1!3e0?hl=pl-PL">
        <img src="assets/place.png">
      </a>
    </div>
  </div>

</div>
