<div class="review-container">
  <div class="form">
    <h1>New Review for {{trip.name}}</h1>
    <form (ngSubmit)="addReview()" #tripForm="ngForm">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               maxlength="100"
               id="username"
               [(ngModel)] ="review.username"
               [ngModelOptions]="{standalone: true}"
               name="shortReview"
               #shortReview="ngModel"/>
      </div>

      <div class="form-group">
        <label for="shortReview">Short Review</label>
        <textarea type="text"
                  class="form-control"
                  maxlength="500"
                  [(ngModel)]="defaultValue"
                  id="shortReview"
                  name="shortReview"
        (change)="doOnChangeText($event)">{{review.review}}</textarea>
      </div>

      <div>
        <label for="grade">Grade</label>
        <app-trip-grade id="grade"
                        name="grade"
                        [(ngModel)]="review.grade"
        (ngModelChange)="changeGrade($event)"> </app-trip-grade>
      </div>

     <div class="form-group">
       <label for="date">Trip date</label>
       <input class="form-control"
              type="date"
              [(ngModel)] ="review.tripDate"
              [ngModelOptions]="{standalone: true}"
              id="date">
     </div>

      <button type="submit"
              class="btn btn-success">Add Review</button>
    </form>
  </div>

  <div class="errors">
    <div *ngFor="let error of errors">
      <div class="alert alert-danger">
        {{error}}
      </div>
    </div>
  </div>

</div>
