<header>

  <div class="branding">
    <b>BRAND</b>NAME
  </div>

  <nav>
    <div class="nav-element">
      <a class="nav-description" routerLink="">Home</a>
    </div>

    <div class="nav-element">
      <a class="nav-description" routerLink="trips">Trips</a>
    </div>

    <div class="nav-element">
      <a class="nav-description" routerLink="addtrip">Add Trip</a>
    </div>

    <div class="nav-element">
      <a class="nav-description" routerLink="hist">Trip Hist</a>
    </div>

  </nav>
</header>
