
.review-display
{
  padding: 20px;

  width: 80vw;
  max-width: 800px;
  border-radius: 12px;
  margin: 15px 0 15px 0;
  background-color: #B8C6DB;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  grid-template-areas: "u u"
                       "s g";
  grid-template-columns: 70% 30%;
}

.review-text
{
  margin: 0;
  margin-top: 10px;
  grid-area: s;
  text-wrap: normal;
}

.review-grade{

  margin: 0;
  grid-area: g;
}

.review-user
{
  margin: 0;
  grid-area: u;
}
