<div class="wrapper">

  <h2>Trip Hist</h2>


    <form  class="options" (submit)="filterTrips()" (change)="filterTrips()">
        <div class="option">
          <label>Awaiting</label>
          <input type="checkbox"
                 [checked]="awaiting"
                 (change)="awaiting = !awaiting">
        </div>
        <div class="option">
          <label>Finished</label>
          <input type="checkbox"
                 [checked]="finished"
                 (change)="finished = !finished">
        </div>
        <div class="option">
          <label>In Progress</label>
          <input type="checkbox"
                 [checked]="inProgress"
                 (change)="inProgress = !inProgress">
        </div>
    </form>

  <div class="tripList">

    <div *ngFor="let trip of filteredHistTrips">

      <div class="histTrip">
        <div class="histwrapper">
          <p><b>Country:</b> {{trip.country}}</p>
          <p><b>Total pirce:</b> {{tripHistService.getTotalPrice(trip)}} {{currencyService.current}}</p>
          <p><b>State:</b> {{wrapper.state(trip)}}</p>
        </div>
        <p class="datehist">{{trip.tripStart}} - {{trip.tripEnd}}</p>
      </div>

    </div>
  </div>

</div>
