

.cart{
  min-width: 260px;
  min-height: 50px;
  width: 10vw;
  height: 5vh;
  background-color: #E5BDF6;
  border-radius: 40px;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s ease-in-out;
}


.centredtext{
  color: #333833;
  padding-top: 2px;
  font-size: 26px;
  padding-bottom: 2px;
  font-weight: 900;
  margin: 0;
  align-self: center;
  justify-self: center;
  text-underline: none;
}

.cart_img{
  object-fit: contain;
  width: 48px;
  height: 48px;
  padding: 3px;
  padding-right: 10px;
  align-self: center;
  margin: 0;
}
