<div class="card" [ngStyle]="{'border': borderFiller(),'background-color':backgroundColorFiller()}">
  <div class="card-rotatable">
    <div class="card-front">
      <div class="card-photo">
        <div class="card-image">
          <img class="card-image-image" src="{{this.trip.image }}" alt="x">
        </div>
        <section class="card-image-title">
          <div class="card-image-title-text">
            {{trip.name | uppercase}}
          </div>
        </section>
      </div>
      <section class="card-description">

        <div class="card-description-item"> {{trip.country | uppercase}} </div>
        <div class="card-description-line"> </div>
        <div class="card-description-item"> Start: {{trip.tripStart}} </div>
        <div class="card-description-line"> </div>
        <div class="card-description-item"> End: {{trip.tripEnd}}</div>
        <div class="card-description-line"> </div>
        <div class="card-description-item"> Avaliable trips: {{trip.available}}</div>
        <div class="card-description-line"> </div>
        <div class="card-description-item"> {{trip.shortDescription}}</div>
      </section>
    </div >
    <div class="card-back">


      <section class="buttons-section">
        <div class="buttons-section-button" (click)="deleteTrip()">
          <p class="buttons-section-button-text">Delete</p>
        </div>
      </section>

      <section class="buttons-section">

        <div class="buttons-section-button left-button" (click)="minusClicked()">
          <p class="buttons-section-button-text">-</p>
        </div>

        <div class="backgrounder" [ngStyle]="{'background-color': colorfiller()}">
          <h2 class="buttons-section-button-text">
            {{trip.selected}} </h2>
        </div>

        <div class="buttons-section-button right-button" (click)="plusClicked()" *ngIf="trip.available != trip.selected">
          <p class="buttons-section-button-text">+</p>
        </div>


      </section>

      <img class="card-round-image" src="{{this.trip.image }}" alt="x">


      <div class="card-back-description">
        Price (1 person)
      </div>

      <div class="card-back-price">
        {{trip.price}} {{trip.currency}}
      </div>

      <a class="card-back-button"
      (click)="goToTrip()">
        Learn More!
      </a>

    </div>
  </div>
</div>
